@import "tailwindcss";

@theme {
  --font-space-grotesk: "Space Grotesk", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-jetbrains-mono: "JetBrains Mono", monospace;
  
  --color-background-obsidian: #0e1320;
  --color-primary-violet: #d0bcff;
  --color-primary-container: #a078ff;
  --color-surface-container-low: #161b29;
  --color-surface-container-high: #252a38;
}

body {
  @apply bg-[#0e1320] text-[#dee2f5] font-inter;
  margin: 0;
}

::selection {
  @apply bg-[#8B5CF6]/30 text-white;
}
